<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>hello</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HHH</servlet-name>
    <servlet-class>HHH</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>ShoppingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyyingServlet</servlet-name>
    <servlet-class>BuyyingServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>OrderServlet</servlet-class>
  </servlet>

<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>

<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetOrederServlet</servlet-name>
    <servlet-class>GetOrederServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>OrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeOrderStateServlet</servlet-name>
    <servlet-class>ChangeOrderStateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommitServlet</servlet-name>
    <servlet-class>CommitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ComplainServlet</servlet-name>
    <servlet-class>ComplainServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProviderRegisterServlert</servlet-name>
    <servlet-class>ProviderRegisterServlert</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProviderLoginServlet</servlet-name>
    <servlet-class>ProviderLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PrGetOrderSerlvet</servlet-name>
    <servlet-class>PrGetOrderSerlvet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MainMangerServlet</servlet-name>
    <servlet-class>MainMangerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetFoodServlet</servlet-name>
    <servlet-class>GetFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateFoodServlet</servlet-name>
    <servlet-class>CreateFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetFoodDetailServlet</servlet-name>
    <servlet-class>GetFoodDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetFoodByFoodIdServlet</servlet-name>
    <servlet-class>GetFoodByFoodIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <servlet-class>UpdateFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCommitServlet</servlet-name>
    <servlet-class>GetCommitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateProviderServlet</servlet-name>
    <servlet-class>UpdateProviderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetProviderServlet</servlet-name>
    <servlet-class>GetProviderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAdviceServlet</servlet-name>
    <servlet-class>GetAdviceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetWeekServlet</servlet-name>
    <servlet-class>GetWeekServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HealthDetailServlet</servlet-name>
    <servlet-class>HealthDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCustomerServlet</servlet-name>
    <servlet-class>GetCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateCunsumerServlet</servlet-name>
    <servlet-class>UpdateCunsumerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetKmeansServlet</servlet-name>
    <servlet-class>GetKmeansServlet</servlet-class>
  </servlet>



























<servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/HELLO</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>  
    <servlet-name>hello</servlet-name>  
    <!-- 访问的网址 -->  
    <url-pattern>/TomcatTest/HelloServlet</url-pattern>  
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HHH</servlet-name>
    <url-pattern>/TomcatTest/HHH</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/ShoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyyingServlet</servlet-name>
    <url-pattern>/BuyyingServlet</url-pattern>
  </servlet-mapping> 
   <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrederServlet</servlet-name>
    <url-pattern>/GetOrederServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeOrderStateServlet</servlet-name>
    <url-pattern>/ChangeOrderStateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommitServlet</servlet-name>
    <url-pattern>/CommitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ComplainServlet</servlet-name>
    <url-pattern>/ComplainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProviderRegisterServlert</servlet-name>
    <url-pattern>/ProviderRegisterServlert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProviderLoginServlet</servlet-name>
    <url-pattern>/ProviderLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrGetOrderSerlvet</servlet-name>
    <url-pattern>/PrGetOrderSerlvet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainMangerServlet</servlet-name>
    <url-pattern>/MainMangerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFoodServlet</servlet-name>
    <url-pattern>/GetFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateFoodServlet</servlet-name>
    <url-pattern>/CreateFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFoodDetailServlet</servlet-name>
    <url-pattern>/GetFoodDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/DeleteFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFoodByFoodIdServlet</servlet-name>
    <url-pattern>/GetFoodByFoodIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <url-pattern>/UpdateFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCommitServlet</servlet-name>
    <url-pattern>/GetCommitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProviderServlet</servlet-name>
    <url-pattern>/UpdateProviderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProviderServlet</servlet-name>
    <url-pattern>/GetProviderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAdviceServlet</servlet-name>
    <url-pattern>/GetAdviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetWeekServlet</servlet-name>
    <url-pattern>/GetWeekServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HealthDetailServlet</servlet-name>
    <url-pattern>/HealthDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCustomerServlet</servlet-name>
    <url-pattern>/GetCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCunsumerServlet</servlet-name>
    <url-pattern>/UpdateCunsumerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetKmeansServlet</servlet-name>
    <url-pattern>/GetKmeansServlet</url-pattern>
  </servlet-mapping> 
  
</web-app>